page {
  background-color: #fff;

  .express-input {
    height: 80rpx;
    border: 1rpx solid #eee;
    border-radius: 8rpx;
    padding-left: 20rpx;
  }

  .express-search {
    margin-top: 30rpx;
    text-align: center;
  }
}