page {
  background-color: #fff;
  padding: 0;

  .item {
    position: relative;
    padding: 20rpx 30rpx;
    border-bottom: 1rpx solid #eee;
    display: flex;

    image {
      width: 280rpx;
      height: 150rpx;
      margin-right: 30rpx;
    }

    .right {
      flex: 1;
      position: relative;

      .title {
        font-weight: 500;
        margin-bottom: 5rpx;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;

        .tag {
          display: block;
          min-width: 60rpx;
          text-align: center;
          color: #2b91fd;
          font-size: 22rpx;
          padding: 4rpx 10rpx;
          background-color: rgb(230, 242, 252);
          border-radius: 6rpx;
          margin-right: 8rpx;
          margin-bottom: 8rpx;
        }
      }

      .date {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 24rpx;
        opacity: 0.3;
      }
    }
  }
}