page {
  padding: 0;
  background-color: #fff;

  .section {
    margin-bottom: 20rpx;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4vw 5vw;

    .item {
      width: 28vw;
      text-align: center;
      margin-right: 4vw;
      margin-top: 4vw;
      padding: 20rpx;
      border: 1rpx solid #2b91fd;
      border-radius: 20rpx;
      color: #666;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}