page {
  padding: 0;

  map {
    width: 100%;
    height: 40vh;
  }

  .field-section {
    margin-top: 30rpx;


    .item {
      background-color: #fff;
      padding: 20rpx 40rpx;
      border-bottom: 1rpx solid #eee;
      display: flex;
      justify-content: space-between;

      .label {
        flex-shrink: 0;
        margin-right: 40rpx;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}