page {
  background-color: #fff;
  padding: 0;

  .section {
    margin-bottom: 20rpx;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 4vw 5vw;

    .item {
      width: 100%;
      margin-bottom: 2vw;
      padding: 20rpx;
      border-bottom: 1rpx solid #eee;
    }
  }
}