page {
  padding: 0;

  .header {
    font-size: 30rpx;
    font-weight: 500;
    padding: 30rpx 40rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #eee;
    margin-bottom: 30rpx;
  }

  .section {

    margin-bottom: 30rpx;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .item {
      padding: 20rpx 40rpx;
      width: 100%;
      border-bottom: 1rpx solid #eee;

      .title {
        font-weight: 500;
      }

      .date {
        font-size: 24rpx;
        opacity: 0.3;
      }
    }
  }
}