page {
  background-color: #fff;

  .title {
    font-size: 32rpx;
    font-weight: 600;
    margin: 20rpx auto;
  }

  .community_list {
    margin: 30rpx auto;
    width: 400rpx;

    .item {
      height: 80rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10rpx 40rpx;
      border-radius: 8rpx;
      border: 2rpx solid #eee;
      margin-bottom: 40rpx;
      font-size: 30rpx;
      font-weight: 500;
    }
  }
}